<div class="chat-box-left">
    {{{childChatAvatar}}}
</div>
<div class="chat-box-center">
    <div class="chat-box-title">
        {{title}}
    </div>
    <div class="chat-box-message">
        {{lastMessage}}
    </div>
</div>
<div class="chat-box-right">
    <div>
        {{time}}
    </div>
    <div class="chat-box-unread-count">
        {{unreadCount}}
    </div>
</div>
