<div class="field">
    <label for={{name}}>{{label}}:</label>
    <input id="{{name}}"
           name="{{name}}"
        {{#if value}} value="{{value}}" {{/if}}
        {{#if type}} type="{{type}}" {{/if}}
        {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
        {{#if readOnly}} readonly="{{readOnly}}" {{/if}}
        {{#if readOnly}} class="read-only" {{/if}}

    >
</div>
